.container {
  display: flex;
  padding: 15px;

  .left {
    flex-basis: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .video {
      width: 98%;
      height: 70vh;
      background-color: blue;
    }
  }
  .right {
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
